.tech-icon {
  color: #00BCD4;
  padding: 0.5rem;
  transition: color 0.2s ease;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.tech-icon:hover {
  color: white;
}
