.icon-button{
    background: none;
    color: #00BCD4;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover{
    color: white;
    transition: color 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0 0 4px #00BCD4); 
}