.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: #2a2a40;
  color: white;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
  height: 64px; /* You can customize this height */
}


.navbar-name {
  text-decoration: none;
  color: inherit;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}
